//Fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap');

@font-face {
    font-family: 'Gilmoray';
    src: url('../src/gilmoray.otf') format('opentype');
    font-weight: normal;
    font-style: normal;  
  }
  
  @font-face {
    font-family: 'Londrina Solid Black';
    src: url('../src/LondrinaSolid-Black.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;  
  }

$titleFontSize: 6.875rem;
$textFontSize: 2.5rem;


//Colors
$primaryColor: #7209b7;
$secondaryColor: #FF5B48;
$navBarColor: #0D0D0D;
$textColorWhite: #FFFFFF;
$textColorBlack: #0C0B0B;
